@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Thin.woff2") format("woff2"), url("../fonts/Switzer-Thin.woff") format("woff"), url("../fonts/Switzer-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-ThinItalic.woff2") format("woff2"), url("../fonts/Switzer-ThinItalic.woff") format("woff"), url("../fonts/Switzer-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Extralight.woff2") format("woff2"), url("../fonts/Switzer-Extralight.woff") format("woff"), url("../fonts/Switzer-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-ExtralightItalic.woff2") format("woff2"), url("../fonts/Switzer-ExtralightItalic.woff") format("woff"), url("../fonts/Switzer-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Light.woff2") format("woff2"), url("../fonts/Switzer-Light.woff") format("woff"), url("../fonts/Switzer-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-LightItalic.woff2") format("woff2"), url("../fonts/Switzer-LightItalic.woff") format("woff"), url("../fonts/Switzer-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Regular.woff2") format("woff2"), url("../fonts/Switzer-Regular.woff") format("woff"), url("../fonts/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Italic.woff2") format("woff2"), url("../fonts/Switzer-Italic.woff") format("woff"), url("../fonts/Switzer-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2"), url("../fonts/Switzer-Medium.woff") format("woff"), url("../fonts/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-MediumItalic.woff2") format("woff2"), url("../fonts/Switzer-MediumItalic.woff") format("woff"), url("../fonts/Switzer-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Semibold.woff2") format("woff2"), url("../fonts/Switzer-Semibold.woff") format("woff"), url("../fonts/Switzer-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-SemiboldItalic.woff2") format("woff2"), url("../fonts/Switzer-SemiboldItalic.woff") format("woff"), url("../fonts/Switzer-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Bold.woff2") format("woff2"), url("../fonts/Switzer-Bold.woff") format("woff"), url("../fonts/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-BoldItalic.woff2") format("woff2"), url("../fonts/Switzer-BoldItalic.woff") format("woff"), url("../fonts/Switzer-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Extrabold.woff2") format("woff2"), url("../fonts/Switzer-Extrabold.woff") format("woff"), url("../fonts/Switzer-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Switzer-ExtraboldItalic.woff") format("woff"), url("../fonts/Switzer-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Black.woff2") format("woff2"), url("../fonts/Switzer-Black.woff") format("woff"), url("../fonts/Switzer-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-BlackItalic.woff2") format("woff2"), url("../fonts/Switzer-BlackItalic.woff") format("woff"), url("../fonts/Switzer-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Variable.woff2") format("woff2"), url("../fonts/Switzer-Variable.woff") format("woff"), url("../fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-VariableItalic.woff2") format("woff2"), url("../fonts/Switzer-VariableItalic.woff") format("woff"), url("../fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F5F8;
  font-family: "Switzer";
}

html,
body {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
label {
  cursor: pointer;
}

main {
  padding: 24px 0 6px;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -2%;
  text-transform: capitalize;
  color: #1A1A1A;
  text-align: center;
}
.title p {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1A1A1A;
  text-align: center;
}
.title__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: capitalize;
  color: #000000;
}
.title__rating svg {
  width: 107px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
  padding: 24px 8px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1019607843);
}
.card__product {
  max-width: 122px;
}
.card__product img {
  width: 100%;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 204px;
  width: 100%;
}
.card__info__image {
  display: block;
  margin-left: -12px;
}
.card__info h2 {
  margin-top: 16px;
  max-width: 178px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: capitalize;
}
.card__info h2 span {
  color: #40AD48;
  text-transform: uppercase;
}
.card__take-chance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 16px;
  padding: 14px 8px;
  background-color: #FFF4F4;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23FF3939FF' stroke-width='2' stroke-dasharray='7%2c 7' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 14px;
}
.card__take-chance svg {
  flex-shrink: 0;
  width: 47px;
  height: 38px;
}
.card__take-chance p {
  font-weight: 500;
  font-size: 0.75rem;
}
.card__take-chance p span {
  display: block;
  font-weight: 500;
  font-size: 0.625rem;
}
.card__take-chance p span strong {
  font-size: 0.8125rem;
  color: #40AD48;
}
.card__take-chance-50 {
  font-weight: 600 !important;
  font-size: 1rem !important;
  line-height: 1.438rem;
  color: #40AD48;
}
.card__take-chance-50 strong {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}
.card__take-chance-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 100%;
  height: 46px;
  margin-top: 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  background: linear-gradient(115.57deg, #70C37D 15.86%, #459761 81.12%), linear-gradient(99.3deg, #34A853 0%, #006E2C 100%);
  text-decoration: none;
  transition: all 0.3s ease;
}
.card__take-chance-link:hover {
  filter: brightness(1.08);
}

.advantages {
  display: block;
  margin-top: 24px;
  padding: 24px 0;
  border: 0.5px solid #BABABA;
  border-left: none;
  border-right: none;
}
.advantages__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 92px;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  text-align: center;
  text-transform: uppercase;
}
.advantages__item svg {
  width: 40px;
  height: 40px;
}

.comments {
  display: block;
  margin-top: 24px;
  padding: 16px;
  border: 0.5px solid #BABABA;
  border-radius: 16px;
}
.comments__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.comments__item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.comments__item:not(:last-child) {
  padding-bottom: 18px;
  border-bottom: 1px solid #D9D9D9;
}
.comments__item-avatar {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.comments__item-avatar img {
  width: 100%;
}
.comments__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comments__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.comments__name span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #555555;
  text-transform: capitalize;
}
.comments__date {
  font-weight: 600;
  font-size: 0.75rem;
}
.comments__text {
  font-weight: 400;
  font-size: 0.875rem;
}

.complete {
  position: sticky;
  bottom: 0;
  margin-top: 6px;
  padding: 16px 0px;
  transition: 0.2s ease all;
}
.complete__scroll {
  background: #FFFFFF;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1803921569);
}
.complete__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 56px;
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(115.57deg, #70C37D 15.86%, #459761 81.12%), linear-gradient(99.3deg, #34A853 0%, #006E2C 100%);
  border-radius: 50px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.438rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}
.complete__button:hover {
  filter: brightness(1.08);
}
.complete__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 12px;
}
.complete__bottom p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 1%;
}
.complete__timer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1%;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 24px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    padding-top: 48px;
  }
  .container {
    max-width: 1000px;
  }
  .title h1 {
    font-size: 3rem;
  }
  .title p {
    font-size: 1.25rem;
  }
  .title__rating {
    font-size: 1rem;
  }
  .title__rating svg {
    width: 122px;
  }
  .card {
    justify-content: space-evenly;
    margin-top: 32px;
    padding: 48px 0;
  }
  .card__product {
    max-width: 180px;
  }
  .card__info {
    max-width: 460px;
  }
  .card__info h2 {
    max-width: unset;
    margin-top: 24px;
    font-size: 1.5rem;
  }
  .card__image {
    width: 176px;
  }
  .card__take-chance {
    gap: 18px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23FF3939FF' stroke-width='2' stroke-dasharray='9%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  .card__take-chance svg {
    width: 70px;
    height: 57px;
  }
  .card__take-chance p {
    font-size: 1.25rem;
  }
  .card__take-chance p span {
    font-size: 1rem;
  }
  .card__take-chance p span strong {
    font-size: 1.375rem;
  }
  .card__take-chance-50 {
    margin-top: 12px;
    text-align: center;
    font-size: 1.375rem !important;
  }
  .card__take-chance-50 strong {
    font-size: 2rem !important;
  }
  .card__take-chance-link {
    max-width: 256px;
    height: 60px;
    margin-top: 24px;
    padding: 14px 22px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .card__take-chance-link svg {
    width: 32px;
    height: 32px;
  }
  .advantages {
    margin-top: 40px;
  }
  .advantages__content {
    gap: 38px;
  }
  .advantages__item {
    flex-direction: row;
    max-width: 216px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .advantages__item svg {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
  }
  .comments {
    margin-top: 40px;
    padding: 40px 32px;
  }
  .comments__content {
    gap: 12px;
  }
  .comments__name span {
    gap: 1px;
    font-size: 0.875rem;
  }
  .comments__date {
    font-size: 0.875rem;
    line-height: 0.8;
  }
  .comments__text {
    font-size: 1rem;
  }
  .complete {
    position: relative;
  }
  .complete__scroll {
    background: unset;
    box-shadow: none;
  }
  .footer {
    margin-top: 8px;
  }
}
.hidden {
  display: none;
}

/* BACK */
.back-button {
  padding: 32px 0 80px;
  font-family: "Inter", sans-serif;
}
.back-button__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -1.5px;
  text-align: center;
}
.back-button__subtitle {
  max-width: 342px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 420px;
  margin: 0 auto;
  padding: 32px 24px;
}
.list__item {
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 20px 40px 0px rgba(26, 28, 28, 0.0588235294);
}
.list__item-container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
}
.list__item-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.list__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.list__item-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.list__item-cat {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #46464A;
}
.list__item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.6px;
}
.list__item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  margin-top: 24px;
  background-color: #030304;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s ease;
}
.list__item-button svg {
  width: 10px;
  height: 10px;
}
.list__item-button:hover {
  background-color: #383838;
}

.no-thanks {
  display: flex;
  justify-content: center;
}
.no-thanks__link {
  position: relative;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #46464A;
  transition: all 0.2s ease;
}
.no-thanks__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #46464A;
}
.no-thanks__link:hover {
  color: #030304;
}
.no-thanks__link:hover::after {
  background-color: #030304;
}

@media (min-width: 768px) {
  .back-button {
    padding: 32px 0 40px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 720px;
    padding: 32px 0;
  }
  .list__item {
    flex: 47%;
  }
  .list__item-image {
    height: 256px;
  }
  .list__item-title {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
