@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@supports (font: -apple-system-body) and (not (-webkit-touch-callout: default)) {
    :root {
        font-size: 100%;
    }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  font-family: "Inter", sans-serif;
}

html,
body {
  min-width: 320px;
  font-size: 100%;
  font: -apple-system-body;  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
label {
  cursor: pointer;
}

main {
  padding: 32px 0 80px;
}

.title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}

.subtitle {
  max-width: 342px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 420px;
  margin: 0 auto;
  padding: 32px 24px;
}
.list__item {
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 20px 40px 0px rgba(26, 28, 28, 0.0588235294);
}
.list__item-container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
}
.list__item-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.list__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.list__item-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.list__item-cat {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #46464A;
}
.list__item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.6px;
}
.list__item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  margin-top: 24px;
  background-color: #030304;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s ease;
}
.list__item-button svg {
  width: 10px;
  height: 10px;
}
.list__item-button:hover {
  background-color: #383838;
}

.no-thanks {
  display: flex;
  justify-content: center;
}
.no-thanks__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #46464A;
  transition: all 0.2s ease;
}
.no-thanks__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #46464A;
}
.no-thanks__link:hover {
  color: #030304;
}
.no-thanks__link:hover::after {
  background-color: #030304;
}

@media (min-width: 768px) {
  main {
    padding: 32px 0 40px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 720px;
    padding: 32px 0;
  }
  .list__item {
    flex: 47%;
  }
  .list__item-image {
    height: 256px;
  }
  .list__item-title {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
